set number
set relativenumber

set ignorecase
set smartcase
set incsearch
set hlsearch

set clipboard+=unnamed

" Leader key: Space
let mapleader=" "

" --- Plugins ---
set surround
set quickscope

" --- Mapeos Estilo Neovim ---

" Guardado
nnoremap <leader>fs :w<CR>

" Splits (Ventanas) - Usando la sintaxis <Action>(...) que es la más robusta en IdeaVim
map <leader>wj <Action>(SplitHorizontally)
map <leader>wl <Action>(SplitVertically)
map <leader>wc <Action>(CloseContent)

" Navegación de ventanas
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Scroll con cursor centrado
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-f> <C-f>zz
nnoremap <C-b> <C-b>zz

" Cerrar editor
map <leader>q <Action>(CloseEditor)

" --- Navegación IDE ---
map <leader>ff <Action>(GotoFile)
map <leader>jk <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>n <Action>(ActivateProjectToolWindow)

map gd <Action>(GotoDeclaration)
map gr <Action>(FindUsages)

" --- Otros ---

" escape rápido
inoremap jk <Esc>

" flash (misma tecla que en nvim: lua/plugins/flash.lua usa "zk", no <leader>f)
map zk <Action>(flash.search)
