# FISH
fish/.config/fish/fish_variables*
fish/.config/fish/fish_history

# RUNTIME STATE
.cache/
.local/share/
.run/

# TMUX RESURRECT (estado local por máquina, no se comparte)
tmux/.tmux/resurrect/

# EDITORES
.vscode/
.idea/

# SYSTEM FILES
.DS_Store
*.swp
*.log

# SSH KEYS (si están en repo accidentalmente)
*.key
*.pem
